POSTGRES_USER=canbus
POSTGRES_PASSWORD=degistir_bu_sifreyi
POSTGRES_DB=canbusdb
JWT_KEY=en_az_32_karakter_uzunlugunda_gizli_bir_anahtar_yaz
JWT_ISSUER=CanBusApi
JWT_AUDIENCE=CanBusApiKullanicilari
GEMINI_API_KEY=kendi_anahtarini_buraya_yaz