# .NET build files
bin/
obj/
.vs/

# Logs
**/logs/

# Datasetler
data/*.csv
data/*.txt

# ML model dosyaları
*.pkl

# Python
**/__pycache__/
*.pyc

# Node
node_modules/
dist/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.vscode/